In [454]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [455]:
dataset = pd.read_csv('hotel_bookings.csv')
dataset.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [456]:
dataset.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

# ***Data Cleaning***

1. Data cleaning:
• Fix or remove outliers (optional).
• Fill in missing values (e.g., with zero, mean, median...) or drop their rows (or columns).
2. Feature selection (optional):
• Drop the attributes that provide no useful information for the task.

### Missing Data

In [ ]:
dataset.dropna(subset=['country'], inplace=True)
# change na from column agent to No Agent

dataset.dr

In [457]:
dataset.drop(['arrival_date_week_number', 'reservation_status',
              'reservation_status_date', 'arrival_date_month', 'arrival_date_year',
              'arrival_date_day_of_month'], axis=1, inplace=True)

In [458]:
dataset.dropna(subset=['country'], inplace=True)

In [459]:
dataset = dataset[dataset['adr'] != 5400]
dataset = dataset[dataset['adr'] != -6.38]
dataset = dataset[dataset['adults'] > 0]
dataset.dropna(subset=['children'], inplace=True)

# add all the column created to dataset
dataset['IsPortugal'] = dataset['country'].apply(lambda x: 1 if x == 'PRT' else 0)
dataset['is_same_room_type'] = dataset['reserved_room_type'] == dataset['assigned_room_type']
#dataset['isChangedMade'] = dataset['booking_changes'] > 0
dataset['IsGroup'] = dataset['market_segment'] == 'Groups'
dataset['IsCompanyNaN'] = dataset['company'].isna()
dataset['IsAgentNaN'] = dataset['agent'].isna()

In [460]:
dataset.drop(['company','market_segment'], axis=1, inplace=True)

In [461]:
agent_count = dataset['agent'].value_counts()
agent_count = agent_count[agent_count < 10]
agent_count = agent_count.index.tolist()

# search the highest number in agent
max_agent = dataset['agent'].max()
max_agent = max_agent + 1

# agent nan replace with max_agent
dataset['agent'].replace(np.nan, max_agent, inplace=True)

dataset['agent'].replace(agent_count, max_agent, inplace=True)

In [462]:
dataset.head()

,hotel,is_canceled,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,IsPortugal,is_same_room_type,IsGroup,IsCompanyNaN,IsAgentNaN
0,Resort Hotel,0,342,0,0,2,0.0,0,BB,PRT,...,0,Transient,0.0,0,0,1,True,False,True,True
1,Resort Hotel,0,737,0,0,2,0.0,0,BB,PRT,...,0,Transient,0.0,0,0,1,True,False,True,True
2,Resort Hotel,0,7,0,1,1,0.0,0,BB,GBR,...,0,Transient,75.0,0,0,0,False,False,True,True
3,Resort Hotel,0,13,0,1,1,0.0,0,BB,GBR,...,0,Transient,75.0,0,0,0,True,False,True,False
4,Resort Hotel,0,14,0,2,2,0.0,0,BB,GBR,...,0,Transient,98.0,0,1,0,True,False,True,False

In [463]:
# export dataset
dataset.to_csv('hotel_bookings_clean.csv', index=False)

In [468]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 118503 entries, 0 to 119389
Data columns (total 29 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           118503 non-null  object
 1   is_canceled                     118503 non-null  int64
 2   lead_time                       118503 non-null  int64
 3   stays_in_weekend_nights         118503 non-null  int64
 4   stays_in_week_nights            118503 non-null  int64
 5   adults                          118503 non-null  int64
 6   children                        118503 non-null  float64
 7   babies                          118503 non-null  int64
 8   meal                            118503 non-null  object
 9   country                         118503 non-null  object
 10  distribution_channel            118503 non-null  object
 11  is_repeated_guest               118503 non-null  int64
 12  previous_cancellations          118503 non-null  int64
 13  previous_bookings_not_canceled  118503 non-null  int64
 14  reserved_room_type              118503 non-null  object
 15  assigned_room_type              118503 non-null  object
 16  booking_changes                 118503 non-null  int64
 17  deposit_type                    118503 non-null  object
 18  agent                           118503 non-null  float64
 19  days_in_waiting_list            118503 non-null  int64
 20  customer_type                   118503 non-null  object
 21  adr                             118503 non-null  float64
 22  required_car_parking_spaces     118503 non-null  int64
 23  total_of_special_requests       118503 non-null  int64
 24  IsPortugal                      118503 non-null  int64
 25  is_same_room_type               118503 non-null  bool
 26  IsGroup                         118503 non-null  bool
 27  IsCompanyNaN                    118503 non-null  bool
 28  IsAgentNaN                      118503 non-null  bool
dtypes: bool(4), float64(3), int64(14), object(8)
memory usage: 24.0+ MB